# --- KKS ---
.Ref
deploy.sh
application-secure.properties
application-local.properties
application-local.yml



### Java ###
*.class
*.jar
*.war
*.ear
### Gradle ###
.gradle/
!BE/gradle/wrapper/gradle-wrapper.jar
BE/gradle.properties
### Maven ###
.mvn/wrapper/maven-wrapper.jar

### Build output ###
BE/out/
BE/target/
BE/build/
!**/src/main/**/build/
!**/src/test/**/build/
BE/src/main/resources/static/videos/

### Temporary files ###
*.swp
*.swo
*.tmp
*.bak

### Logs ###
*.log

### OS-specific files ###
.DS_Store
Thumbs.db

### ETC ###
HELP.md
*.env


### [FE] Vue ###




### ----- IDE ----- ###

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
BE/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
BE/out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea_modules/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/